<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<div class="center jumbotron">
		<div>
			<h1>About</h1>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10"align="center">
				<p>This demo was created by Box to supplement the Bank of America Loan Application Portal. Using Box's secure content management, Bank of America clients are able to upload their documents directly to Bank of America.</p>
			</div>
		</div>
		
		</div>
	</div>
</body>
</html>