<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
</head>
<body>
	<div class="center jumbotron">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10"align="center">
				<h2><u>Customer Login</u></h2>
				<blockquote class="blockquote">
					<p class="m-b-0">Log in through <b>Customer Login</b>. Click on "Add Document" to submit the documents that are needed for your loan application.</p>
				</blockquote>

			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8"align="center">
				<h2><u>Employee Login</u></h2>
				<blockquote class="blockquote">
					<p class="m-b-0">Log in through <b>Employee Login</b> to access customer documents through the Box web application.</p>
				</blockquote>
			</div>
		</div>
	</div>
</body>
</html>