<h1>Login#index</h1>
<p>Find me in app/views/login/index.html.erb</p>

<%= button_to "Customer Login", login_login_path, method: :get, class: "btn btn-primary" %>

<br / >

<a href="https://account.box.com/login/" class = "btn btn-primary" role = "button">Employee Login</a>