<!DOCTYPE html>
<html>
<head>
	<title>BOA Loan Portal</title>
</head>
<body>
	<div id="bg-fade-carousel" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1">

            </div>
        </div>
        <div class="item">
            <div class="slide2">
            </div>
        </div>
        <div class="item">
            <div class="slide3">
            </div>
        </div>
    </div><!-- .carousel-inner --> 
    <div class="container carousel-overlay text-center">
        <h1>Welcome to the Loan Application Portal</h1>
        <p class="lead">Log in as a customer or as an employee</p>
        <%= button_to "Customer Login", login_login_path, method: :get, class: "btn btn-lg btn-primary", :client => @client %>

		<br/>

		<a href="https://account.box.com/login/" class = "btn btn-lg btn-primary" role = "button">Employee Login</a>
    </div>
</div><!-- .carousel --> 
</body>
</html>