<footer>
  <div >
    <ul class="list-inline">
      <li><a href="http://about.bankofamerica.com/en-us/index.html">About</a></li>
      <li><a href="https://www.bankofamerica.com/contactus/contactus.go">Contact</a></li>
      <li><a href="http://newsroom.bankofamerica.com/">News</a></li>
    </ul>
  </div>
</footer>