/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* universal */
* {
	font-family: Verdana;
}
 body {
 	padding-top: 90px;
 }

 section {
 	overflow: auto;
 }

 textarea {
 	resize: vertical;
 }

 .center {
 	text-align: center;
 }

 .center h1 {
	margin-bottom: 10px;
 }

 .btn-primary {
 	background-color: #124e89;
 }

/* header */ 

header div div div {
	padding-top: 20px;

}

.navbar {
	background-color: #fff;
}

#logo {
	float: left;
}

header div div div ul li {
	font-size: 1.3em;
}

/* carousel */
.slide1, .slide2, .slide3 {
	min-height: 550px; /* Must have a height or min-height set due to use of background images */
	background-size: cover;
	background-position: center center;
}
.slide1 {
	background-image: url("image2.jpg");
}
.slide2 {
	background-image: url("image3.jpg");
}
.slide3 {
	background-image: url("image4.jpg");
}

.carousel-overlay {
	position: absolute;
	bottom: 100px;
	right: 0;
	left: 0;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}

.carousel-overlay h1 {
    font-size: 3.5em;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
 	line-height: 1;
 	text-align: center;
}

h1 {
 	font-size: 3em;
 	letter-spacing: -2px;
 	margin-bottom: 30px;
 	text-align: center;
}

 h4 {
 	font-size: 1.2em;
 	letter-spacing: -1px;
 	margin-bottom: 30px;
 	text-align: center;
 	font-weight: normal;
 	color: #777;
 }

 p {
 	font-size: 1.1em;
 	line-height: 1.7em;
 }

/* footer */

 footer {
 	position: fixed;
 	bottom: 0;
 	width: 80%;
 }